# Python
__pycache__/
*.py[cod]
*.pyo
.Python
*.egg-info/
dist/
build/
.eggs/

# Env
.env
.env.local
.env.*.local

# Vercel
.vercel

# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/
*.swp

.vercel
